# **Trabalho Final**
### Algoritmos e Programação com Linguagem Python
---

**Orientações Gerais:**

* Esta é o trabalho final prático onde serão trabalhados conceitos
apresentados e exercitados em sala de aula.

* Aspéctos como clareza e organização do código, comentários, raciocínio lógico, coerência no nome de variáveis, utilização das estruturas mais adequadas para a solução dos problemas e o funcionamento adequado serão analisados e irão compor o valor da nota final.

* Procure entender exatamente o que se pede antes de iniciar a codificação. Quando se sabe o que é necessário fazer, a codificação fica mais fácil, mais eficiente e mais divertida ;-).

* Faça o upload do notebook completo nomeado da seguinte forma: *nome_sobrenome_RA.ipynb*.

* No caso de grupos, informar ao professor os membros de cada grupo e cada um deverá importar o arquivo no Canvas individualmente.

* Arquivos com nomes incorretos serão desconsiderados!

* Não deixem dúvidas para trás! Acessem os grupos combinados ou entrem em contato com o professor.

✌ Sucesso o/

# RMS Titanic

O RMS Titanic foi um navio de passageiros britânico operado pela White Star Line e construído pelos estaleiros da Harland and Wolff em Belfast. Foi a segunda embarcação da Classe Olympic de transatlânticos depois do RMS Olympic e seguido pelo HMHS Britannic. Projetado pelos engenheiros navais Alexander Carlisle e Thomas Andrews, sua construção começou em março de 1909 e ele foi lançado ao mar em maio de 1911. O Titanic foi pensado para ser o navio mais luxuoso e mais seguro de sua época, gerando lendas que era supostamente "inafundável".

A embarcação partiu em sua viagem inaugural de Southampton para Nova Iorque em 10 de abril de 1912, no caminho passando em Cherbourg-Octeville na França e por Queenstown na Irlanda. Ele colidiu com um iceberg às 23h40min do dia 14 de abril e afundou na madrugada do dia seguinte matando mais de 1500 pessoas, sendo um dos maiores desastres marítimos em tempos de paz de toda a história. Seu naufrágio destacou vários pontos fracos de seu projeto, deficiências nos procedimentos de evacuação de emergência e falhas nas regulamentações marítimas da época. Comissões de inquérito foram instauradas nos Estados Unidos e no Reino Unido, levando a mudanças nas leis internacionais de navegação que permanecem em vigor mais de um século depois.

Os destroços do Titanic foram procurados por décadas até serem encontrados em 1985 por uma equipe liderada por Robert Ballard. Ele se encontra a 3843 m de profundidade e a 650 km ao sudeste de Terra Nova no Canadá. Sua história e naufrágio permaneceram no imaginário popular durante décadas, levando a produção de vários livros e filmes a seu respeito, mais notavelmente o filme Titanic de 1997. Até hoje o Titanic permanece como um dos navios mais famosos da história, com seus destroços atraindo várias expedições de exploração ao longo dos anos.

*Fonte:* [WikiPedia](https://pt.wikipedia.org/wiki/RMS_Titanic)

--------

A equipe da [Udacity](https://udacity.com) disponibilizou informações sobre uma parte dos passageiros à bordo do RMS Titanic no dia daquela tragédia. Esse _dataset_ que contém informações reais vem sendo utilizado em diversos estudos de caso, além de servir de base para aprendizado de Ciência de Dados, Estatística e Machine Learning.

O arquivo **titanic_data.csv** contém informações reais sobre os passageiros organizadas da seguinte forma:

- Survived (Sobreviveu): 0 = Não, 1 = Sim
- Pclass (Classe): Classe de ingresso 1 = 1º, 2 = 2º, 3 = 3º
- Sex (Sexo): Sexo do passageiro
- Age (Idade): Idade em anos
- Sibsp: Quantidade de irmãos / cônjuges a bordo do Titanic
- Parch: Quantidade de pais / crianças a bordo do Titanic
- Ticket (Bilhete): Número do bilhete de embarque
- Fare (Tarifa): Tarifa paga pelo Passageiro
- Cabin (Cabine): Número de cabine
- Embarked (Embarque): Porto de Embarque (C = Cherbourg, Q = Queenstown, S = Southampton)

O objetivo deste estudo é obter algumas informações estatísticas sobre a tragédia e realizar alguns _insights_ a respeito dos tripulantes e das circunstâncias do acidente.

Efetue a carga do arquivo através da biblioteca _Pandas_ e a partir do _DataFrame_ gerado, efetue as operações necessárias para responder as questões.

## Importando o DataSet

1 - Efetuar a leitura do dataset através do Pandas, gerando um DataFrame de nome tit, levando-se em consideração que o arquivo encontra-se na mesma pasta do notebook.

In [5]:
import pandas as pd

archive = "/content/titanic_data.csv"
tit = pd.read_csv(archive)

print(tit.head()) # Exibindo as primeiras linhas

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

## Conhecendo o DataSet

2 - Quantas linhas e colunas tem o dataset? Quais os tipos das colunas?

In [6]:
num_linhas, num_colunas = tit.shape # Retorna uma tupla com o número de linhas e colunas
print(f"O dataset tem {num_linhas} linhas e {num_colunas} colunas.")

tipos_de_dados = tit.dtypes # Tipos de dados das colunas
print("\nTipos de dados das colunas:")
print(tipos_de_dados)

O dataset tem 891 linhas e 12 colunas.

Tipos de dados das colunas:
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

3 - Mostre os dados dos dez primeiros e 8 últimos registros do dataset.

In [7]:
print("Abaixo estão os dez primeiros registros do dataset:\n")
print(tit.head(10)) # Exibir os dez primeiros registros

print("\n\nAbaixo estão os oito últimos registros do dataset:\n")
print(tit.tail(8)) # Exibir os oito últimos registros

Abaixo estão os dez primeiros registros do dataset:

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
5      0            330877   8.4583   NaN        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750   NaN        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C


Abaixo estão os oito últimos registros do dataset:

     PassengerId  Survived  Pclass                                      Name  \
883          884         0       2             Banfield, Mr. Frederick James
884          885         0       3                    Sutehall, Mr. Henry Jr
885          886         0       3      Rice, Mrs. William (Margaret Norton)
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch            Ticket    Fare Cabin Embarked
883    male  28.0      0      0  C.A./SOTON 34068  10.500   NaN        S
884    male  25.0      0      0   SOTON/OQ 392076   7.050   NaN        S
885  female  39.0      0      5            382652  29.125   NaN        Q
886    male  27.0      0      0            211536  13.000   NaN        S
887  female  19.0      0      0            112053  30.000   B42        S
888  female   NaN      1      2        W./C. 6607  23.450   NaN        S
889    male  26.0      0      0            111369  30.000  C148        C
890    male  32.0      0      0            370376   7.750   NaN        Q

4 - Cálculos envolvendo colunas numéricas com dados faltantes podem sofrer impacto. É possível afirmar se há dados faltantes no dataset? Caso positivo, quais e quantos seriam esses dados? Preencha os dados faltantes de forma que não influenciem em operações futuras.

In [8]:
def verificar_dados_faltantes(df):
    dados_faltantes = df.isnull().sum()
    print("Quantidade de dados faltantes por coluna após o preenchimento:")
    print(dados_faltantes)

verificar_dados_faltantes(tit)

Quantidade de dados faltantes por coluna após o preenchimento:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [9]:
# Regressão linear multipla para preencher os dados faltantes de idade

import pandas as pd
from sklearn.linear_model import LinearRegression  # Modelo de regressão linear do scikit-learn
from sklearn.preprocessing import OneHotEncoder  # Importa o codificador one-hot do scikit-learn
from sklearn.compose import ColumnTransformer  # Importa a função ColumnTransformer do scikit-learn
from sklearn.metrics import r2_score  # Importa a métrica R² do scikit-learn

file_path = "/content/titanic_data.csv"
tit = pd.read_csv(file_path)

# Seleciona apenas as colunas necessárias para a regressão
dados_para_regressao = tit[['Age', 'Ticket', 'Sex', 'Fare', 'Pclass', 'SibSp', 'Parch']]

# Filtra apenas as linhas onde Age não é nulo e armazena em dados_preencher
dados_preencher = dados_para_regressao[dados_para_regressao['Age'].notnull()]
# Filtra apenas as linhas onde Age é nulo e armazena em dados_prever
dados_prever = dados_para_regressao[dados_para_regressao['Age'].isnull()]

# Armazena as variáveis independente em X_train, excluindo a coluna Age
# axis=1 indica que estamos removendo colunas (1 para coluna, 0 para linha)
X_train = dados_preencher.drop('Age', axis=1)

# Armazena a variável dependente, para previsão, em y_train (Age)
y_train = dados_preencher['Age']

# Armazena as variáveis independentes (preditoras) em X_test para os dados a serem previstos, excluindo Age
X_test = dados_prever.drop('Age', axis=1)

# Lidar com variáveis categóricas (Ticket e Sex) usando codificação one-hot
categorical_cols = ['Ticket', 'Sex']  # Colunas categóricas
numerical_cols = ['Fare', 'Pclass', 'SibSp', 'Parch']  # Colunas numéricas, não serão alteradas

preprocessor = ColumnTransformer(
    transformers=[
        ('cat', OneHotEncoder(handle_unknown='ignore'), categorical_cols), # converter variáveis categóricas em representações numéricas utilizando codificação one-hot
                              # handle_unknown='ignore' é um argumento adicional para lidar com novas categorias não vistas durante o treinamento, ignorando-as durante a transformação.
        ('num', 'passthrough', numerical_cols)  # Mantém as colunas numéricas sem alterações
    ])

# Transforma os dados de treinamento usando o preprocessor definido
X_train_processed = preprocessor.fit_transform(X_train)

# Transforma os dados de teste usando o mesmo preprocessor do treinamento
X_test_processed = preprocessor.transform(X_test)

# Criando e treinando o modelo de regressão
modelo = LinearRegression()  # Cria um objeto de modelo de regressão linear
modelo.fit(X_train_processed, y_train)  # Treina o modelo com os dados de treinamento

# Gera previsões para os dados com Age faltando usando o modelo treinado
valores_preenchidos = modelo.predict(X_test_processed)

# Substitui os valores faltantes de Age no conjunto original pelos valores previstos
dados_prever['Age'] = valores_preenchidos

# Atualizar o DataFrame original (tit) com os valores preenchidos
tit.loc[tit['Age'].isnull(), 'Age'] = dados_prever['Age'].values

# Avaliar o desempenho do modelo utilizando Rsquare
y_pred = modelo.predict(X_train_processed)  # Faz previsões para os dados de treinamento
r2 = r2_score(y_train, y_pred)  # Calcula o coeficiente de determinação R²
print(f"R² do modelo: {r2:.4f}\n")

verificar_dados_faltantes(tit)
print('\n')
print(tit.head(10))

R² do modelo: 0.8273

Quantidade de dados faltantes por coluna após o preenchimento:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64


   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex        Age  \
0                            Braund, Mr. Owen Harris    male  22.000000
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.000000
2                             Heikkinen, Miss. Laina  female  26.000000
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.000000
4                           Allen, Mr. William Henry    male  35.000000
5                                   Moran, Mr. James    male  25.168591
6                            McCarthy, Mr. Timothy J    male  54.000000
7                     Palsson, Master. Gosta Leonard    male   2.000000
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.000000
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.000000

   SibSp  Parch            Ticket     Fare Cabin Embarked
0      1      0         A/5 21171   7.2500   NaN        S
1      1      0          PC 17599  71.2833   C85        C
2      0      0  STON/O2. 3101282   7.9250   NaN        S
3      1      0            113803  53.1000  C123        S
4      0      0            373450   8.0500   NaN        S
5      0      0            330877   8.4583   NaN        Q
6      0      0             17463  51.8625   E46        S
7      3      1            349909  21.0750   NaN        S
8      0      2            347742  11.1333   NaN        S
9      1      0            237736  30.0708   NaN        C

<ipython-input-9-31b0b19f935c>:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados_prever['Age'] = valores_preenchidos

## Adequando o DataSet

5 - Uma vez que algumas colunas não serão utilizadas, eventualmente é melhor excluí-las para que não interfiram na análise. Assim, exclua do dataset as colunas Sibsp, Parch e Ticket.

In [10]:
# Excluir as colunas Sibsp, Parch e Ticket
tit = tit.drop(['SibSp', 'Parch', 'Ticket'], axis=1)

print("Dataset após excluir as colunas 'Sibsp', 'Parch' e 'Ticket':")
print(tit.head())

Dataset após excluir as colunas 'Sibsp', 'Parch' e 'Ticket':
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age     Fare  \
0                            Braund, Mr. Owen Harris    male  22.0   7.2500
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0  71.2833
2                             Heikkinen, Miss. Laina  female  26.0   7.9250
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0  53.1000
4                           Allen, Mr. William Henry    male  35.0   8.0500

  Cabin Embarked
0   NaN        S
1   C85        C
2   NaN        S
3  C123        S
4   NaN        S

6 - Renomear as colunas restantes para a lingua portuguesa, utilizando os seguintes nomes de colunas: IdPassageiro, Sobreviveu, Classe, Nome, Sexo, Idade, Tarifa, Cabine e Embarque.

In [11]:
# Renomear as colunas
tit = tit.rename(columns={
    'PassengerId': 'IdPassageiro',
    'Survived': 'Sobreviveu',
    'Pclass': 'Classe',
    'Name': 'Nome',
    'Sex': 'Sexo',
    'Age': 'Idade',
    'Fare': 'Tarifa',
    'Cabin': 'Cabine',
    'Embarked': 'Embarque'
})

print("Dataset com colunas renomeadas para português:")
print(tit.head())

Dataset com colunas renomeadas para português:
   IdPassageiro  Sobreviveu  Classe  \
0             1           0       3
1             2           1       1
2             3           1       3
3             4           1       1
4             5           0       3

                                                Nome    Sexo  Idade   Tarifa  \
0                            Braund, Mr. Owen Harris    male   22.0   7.2500
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female   38.0  71.2833
2                             Heikkinen, Miss. Laina  female   26.0   7.9250
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female   35.0  53.1000
4                           Allen, Mr. William Henry    male   35.0   8.0500

  Cabine Embarque
0    NaN        S
1    C85        C
2    NaN        S
3   C123        S
4    NaN        S

7 - Alterar o conteudo da coluna Sobreviveu para:
- 0 => Não
- 1 => Sim

In [12]:
# Alterar o conteúdo da coluna Sobreviveu
tit['Sobreviveu'] = tit['Sobreviveu'].replace({0: 'Não', 1: 'Sim'})

print("Conteúdo da coluna 'Sobreviveu' alterado:")
print(tit['Sobreviveu'].head())

Conteúdo da coluna 'Sobreviveu' alterado:
0    Não
1    Sim
2    Sim
3    Sim
4    Não
Name: Sobreviveu, dtype: object

8 - Alterar o conteudo da coluna Sexo para:
- female => Mulher
- male   => Homem

In [13]:
# Alterar o conteúdo da coluna Sexo
tit['Sexo'] = tit['Sexo'].replace({'female': 'Mulher', 'male': 'Homem'})

print("Conteúdo da coluna 'Sexo' alterado:")
print(tit['Sexo'].head())

Conteúdo da coluna 'Sexo' alterado:
0     Homem
1    Mulher
2    Mulher
3    Mulher
4     Homem
Name: Sexo, dtype: object

## Alguns números

9 - Quantas mulheres e quantos homems estavam à bordo, de acordo com o dataset?

In [14]:
# Calcular o total de passageiros, homens e mulheres a bordo
total_passageiros = tit['Sexo'].count()

total_homens = tit['Sexo'].value_counts()['Homem']  # Conta o número de homens
total_mulheres = tit['Sexo'].value_counts()['Mulher']  # Conta o número de mulheres

# Calcular os percentuais
percentual_homens = (total_homens / total_passageiros) * 100
percentual_mulheres = (total_mulheres / total_passageiros) * 100

print("Total de passageiros a bordo:", total_passageiros)
print("Total de homens a bordo:", total_homens, f"({percentual_homens:.2f}%)")
print("Total de mulheres a bordo:", total_mulheres, f"({percentual_mulheres:.2f}%)")

Total de passageiros a bordo: 891
Total de homens a bordo: 577 (64.76%)
Total de mulheres a bordo: 314 (35.24%)

10 - Quantos passageiros sobreviveram e quantos não sobreviveram?

In [15]:
# Calcular o total de passageiros, sobreviventes e não sobreviventes a bordo
total_passageiros = tit['Sobreviveu'].count()  # Conta o total de passageiros
sobreviventes = tit['Sobreviveu'].value_counts()['Sim']  # Conta o número de sobreviventes
nao_sobreviventes = tit['Sobreviveu'].value_counts()['Não']  # Conta o número de não sobreviventes

# Calcular os percentuais
percentual_sobreviventes = (sobreviventes / total_passageiros) * 100
percentual_nao_sobreviventes = (nao_sobreviventes / total_passageiros) * 100

print("Total de passageiros a bordo:", total_passageiros)
print("Total de passageiros que sobreviveram:", sobreviventes, f"({percentual_sobreviventes:.2f}%)")
print("Total de passageiros que não sobreviveram:", nao_sobreviventes, f"({percentual_nao_sobreviventes:.2f}%)")

Total de passageiros a bordo: 891
Total de passageiros que sobreviveram: 342 (38.38%)
Total de passageiros que não sobreviveram: 549 (61.62%)

11 - Quantas mulheres não sobreviveram?

In [16]:
# Filtrar apenas as mulheres
mulheres = tit[tit['Sexo'] == 'Mulher']

total_mulheres = mulheres['Sexo'].count()  # Total de mulheres a bordo
nao_sobreviveram_mulheres = mulheres['Sobreviveu'].value_counts()['Não']  # Mulheres que não sobreviveram

# Calcular o percentual
percentual_nao_sobreviveram_mulheres = (nao_sobreviveram_mulheres / total_mulheres) * 100

print("Total de mulheres a bordo:", total_mulheres)
print("Total de mulheres que não sobreviveram:", nao_sobreviveram_mulheres, f"({percentual_nao_sobreviveram_mulheres:.2f}%)")

Total de mulheres a bordo: 314
Total de mulheres que não sobreviveram: 81 (25.80%)

12 - Proporcionalmente, sobreviveram mais homens ou mais mulheres? Cite as proporções.

In [17]:
total_homens = tit['Sexo'].value_counts()['Homem']  # Total de homens a bordo
total_mulheres = tit['Sexo'].value_counts()['Mulher']  # Total de mulheres a bordo

# Calcular o número de homens e mulheres que sobreviveram
sobreviventes_homens = tit[(tit['Sexo'] == 'Homem') & (tit['Sobreviveu'] == 'Sim')]['Sexo'].count()
sobreviventes_mulheres = tit[(tit['Sexo'] == 'Mulher') & (tit['Sobreviveu'] == 'Sim')]['Sexo'].count()

# Calcular as taxas de sobrevivência
taxa_sobrevivencia_homens = (sobreviventes_homens / total_homens) * 100
taxa_sobrevivencia_mulheres = (sobreviventes_mulheres / total_mulheres) * 100

print("Sobrevivência entre homens:", f"{taxa_sobrevivencia_homens:.2f}%")
print("Sobrevivência entre mulheres:", f"{taxa_sobrevivencia_mulheres:.2f}%")

Sobrevivência entre homens: 18.89%
Sobrevivência entre mulheres: 74.20%

13 - Levando-se em consideração a idade dos passageiros, qual a idade e quantidade de pessoas com o maior número de mortos?

In [18]:
nao_sobreviveram = tit[tit['Sobreviveu'] == 'Não'] # Filtrar apenas os passageiros que não sobreviveram

# Encontrar a idade com o maior número de mortos
idade_mais_comum = nao_sobreviveram['Idade'].mode().values[0]  # Calcula a idade mais comum
quantidade_mortos = nao_sobreviveram[nao_sobreviveram['Idade'] == idade_mais_comum]['Idade'].count()  # Conta a quantidade de pessoas com essa idade

print("Idade com o maior número de mortos:", idade_mais_comum)
print("Quantidade de pessoas com essa idade que não sobreviveram:", quantidade_mortos)

Idade com o maior número de mortos: 21.0
Quantidade de pessoas com essa idade que não sobreviveram: 19

14 - Qual a média de idade dos homens sobreviventes?

In [19]:
homens_sobreviventes = tit[(tit['Sexo'] == 'Homem') & (tit['Sobreviveu'] == 'Sim')]

# Calcular a média de idade dos homens sobreviventes
media_idade_homens_sobreviventes = homens_sobreviventes['Idade'].mean()

print("Média de idade dos homens sobreviventes:", round(media_idade_homens_sobreviventes, 2))

Média de idade dos homens sobreviventes: 28.02

15 - Levando-se em consideração passageiros prioritários (mulheres e crianças de até 15 anos independente do sexo) qual a proporção de sobreviventes por sexo?

In [20]:
# Filtrar passageiros prioritários: mulheres e crianças até 15 anos
passageiros_prioritarios = tit[(tit['Sexo'] == 'Mulher') | (tit['Idade'] <= 15)]

sobreviventes_por_sexo = passageiros_prioritarios.groupby('Sexo')['Sobreviveu'].apply(lambda x: (x == 'Sim').sum()) # verificação para cada valor x na coluna 'Sobreviveu

# Calcular a proporção
total_por_sexo = passageiros_prioritarios['Sexo'].value_counts()
proporcao_sobreviventes_por_sexo = sobreviventes_por_sexo / total_por_sexo * 100

print("Proporção de sobreviventes por sexo entre passageiros prioritários:")
print(proporcao_sobreviventes_por_sexo)

Proporção de sobreviventes por sexo entre passageiros prioritários:
Homem     52.500000
Mulher    74.203822
dtype: float64

16 - Qual a quantidade de passageiros por classe?

In [21]:
# Quantidade de passageiros por classe
quantidade_por_classe = tit['Classe'].value_counts()

print("Quantidade de passageiros por classe:")
print(quantidade_por_classe)

Quantidade de passageiros por classe:
3    491
1    216
2    184
Name: Classe, dtype: int64

17 - Qual o percentual de sobreviventes por classe?

In [22]:
# Número total de passageiros por classe
total_por_classe = tit['Classe'].value_counts()

# Número de sobreviventes por classe
sobreviventes_por_classe = tit[tit['Sobreviveu'] == 'Sim']['Classe'].value_counts()

percentual_sobreviventes_por_classe = (sobreviventes_por_classe / total_por_classe) * 100

print("Percentual de sobreviventes por classe:")
print(percentual_sobreviventes_por_classe)

Percentual de sobreviventes por classe:
1    62.962963
2    47.282609
3    24.236253
Name: Classe, dtype: float64

18 - Crie um dataframe que demonstre a quantidade de sobreviventes e não sobreviventes, agrupados por sexo e classe.

In [23]:
# Agrupar os dados por sexo, classe e sobrevivência e contar o número de ocorrências
sobreviventes_por_sexo_classe = tit.groupby(['Sexo', 'Classe', 'Sobreviveu']).size().unstack().fillna(0).astype(int)
''' Neste código, tit.groupby(['Sexo', 'Classe', 'Sobreviveu']).size() cria os grupos com base nas colunas
'Sexo', 'Classe' e 'Sobreviveu' e conta o número de ocorrências em cada grupo.
O método .unstack() reorganiza esses dados para ter 'Sexo' e 'Classe' como índices e 'Sobreviveu' como colunas.
fillna(0). preenche os valores ausentes (caso não haja ocorrências) com 0
astype(int) converte os números para inteiros, para apresentar a quantidade de sobreviventes e não sobreviventes por sexo e classe.
'''
# Exibir o DataFrame com a quantidade de sobreviventes e não sobreviventes por sexo e classe
print("Quantidade de sobreviventes e não sobreviventes por sexo e classe:")
print(sobreviventes_por_sexo_classe)

Quantidade de sobreviventes e não sobreviventes por sexo e classe:
Sobreviveu     Não  Sim
Sexo   Classe
Homem  1        77   45
       2        91   17
       3       300   47
Mulher 1         3   91
       2         6   70
       3        72   72

19 - Dos homens com idade entre 24 e 30 anos quantos da classe 3 sobreviveram? Quantos da classe 2 não sobreviveram?

In [24]:
# Filtrar homens com idade entre 24 e 30 anos da Classe 3 e contar os sobreviventes
homens_classe3_sobreviveram = tit[(tit['Sexo'] == 'Homem') & (tit['Idade'] >= 24) & (tit['Idade'] <= 30) & (tit['Classe'] == 3) & (tit['Sobreviveu'] == 'Sim')]['Sobreviveu'].count()

# Filtrar homens com idade entre 24 e 30 anos da Classe 2 e contar os não sobreviventes
homens_classe2_nao_sobreviveram = tit[(tit['Sexo'] == 'Homem') & (tit['Idade'] >= 24) & (tit['Idade'] <= 30) & (tit['Classe'] == 2) & (tit['Sobreviveu'] == 'Não')]['Sobreviveu'].count()

print("Homens da Classe 3 (24-30 anos) que sobreviveram:", homens_classe3_sobreviveram)
print("Homens da Classe 2 (24-30 anos) que não sobreviveram:", homens_classe2_nao_sobreviveram)

Homens da Classe 3 (24-30 anos) que sobreviveram: 19
Homens da Classe 2 (24-30 anos) que não sobreviveram: 24